PENCA 2008

In [45]:
from IPython.display import Image
import pandas as pd
from os import walk
%pylab inline
import re
import matplotlib.pyplot as plt
plt.rc('legend', fontsize='small')
from mpl_toolkits.mplot3d import Axes3D
from IPython.display import display, HTML
from datetime import timedelta
from __future__ import print_function, division
import statsmodels.formula.api as smf
import pylab as pl
pd.set_option('precision', 2)

from io import StringIO  # got moved to io in python3.

#import plotly.plotly as py
#import plotly.graph_objs as go

#from plotly.tools import FigureFactory as FF
#import scipy
#from xlrd import open_workbook

Populating the interactive namespace from numpy and matplotlib

In [59]:

import requests

r = requests.get('https://docs.google.com/spreadsheets/d/1cXMKJq39oErXuHkXFAOSqRmvEh91xP-E4jkPcTAzKNY/export?format=csv&id=1cXMKJq39oErXuHkXFAOSqRmvEh91xP-E4jkPcTAzKNY&gid=920048458')
data = r.content
edificios = pd.read_csv(StringIO(data.decode("utf-8")))


r = requests.get('https://docs.google.com/spreadsheets/d/1cXMKJq39oErXuHkXFAOSqRmvEh91xP-E4jkPcTAzKNY/export?format=csv&id=1cXMKJq39oErXuHkXFAOSqRmvEh91xP-E4jkPcTAzKNY&gid=893394665')
data = r.content
empleados = pd.read_csv(StringIO(data.decode("utf-8")))

display(edificios)
display(empleados)

,edificio,direccion,coordenadas,horas duracion limpieza,limpiezas x semana,dias entre limpiezas,empleados obligatorios,dias obligatorios,otras reglas
0,durazno1,Durazno y andes,"-34.866414, -56.214026",0.5,1,2,Carlos,martes,solo de mañana
1,ejido1,ejido y dieciocho de julio,"-34.911084, -56.197551",2.0,2,2,NaN,"martes, viernes",NaN
2,andes1,andes 1206,"-34.908339, -56.197894",1.0,1,2,"Carlos, Juan",NaN,NaN

   nombre  horas x dia                                       otras reglas
0    Juan            4                los martes trabaja junto con Carlos
1  Carlos            7  los martes trabaja junto con Juan y los mierco...
2  Alicia            3                                                NaN