PENCA 2008

In [23]:
from IPython.display import Image
import pandas as pd
from os import walk
%pylab inline
import re
import matplotlib.pyplot as plt
plt.rc('legend', fontsize='small')
from mpl_toolkits.mplot3d import Axes3D
from IPython.display import display, HTML
from datetime import timedelta
from __future__ import print_function, division
import statsmodels.formula.api as smf
import pylab as pl
pd.set_option('precision', 2)

#import plotly.plotly as py
#import plotly.graph_objs as go
#from plotly.tools import FigureFactory as FF
#import scipy
#from xlrd import open_workbook

Populating the interactive namespace from numpy and matplotlib

In [30]:
def points(xg1,xg2,rg1,rg2):
  res = 0
  if xg1==rg1:
    res += 1
  if xg2==rg2:
    res += 1
  return res

def incomplete(xg1,xg2):
  if math.isnan(xg1) and math.isnan(xg2):
    return 2
  if math.isnan(xg1):
    return 1
  if math.isnan(xg2):
    return 1
  
def buildx(file):
  xls = pd.ExcelFile("files/"+file)
  y = pd.read_excel(xls, 'Fase de grupos')
  name=y[y.columns[4]][0]
  mail=y[y.columns[4]][0]
  y=y[[y.columns[6],y.columns[7],y.columns[8],y.columns[9],]]
  y.columns = ['t1','g1','g2','t2']
  y['id']="%s|%s|%s" % (file, name, mail)
  #select rows
  A=y.iloc[4:10]
  B=y.iloc[14:20]
  C=y.iloc[24:30]
  D=y.iloc[34:40]
  E=y.iloc[44:50]
  F=y.iloc[54:60]
  G=y.iloc[64:70]
  H=y.iloc[74:80]
  z = pd.concat([A,B,C,D,E,F,G,H],axis=0)
  return pd.DataFrame(z)  
    
r=buildx("RESULTADO.xlsx")
x=pd.DataFrame()
for file in filter(lambda k: k.endswith('.xlsx'), next(walk("files/"))[2][:]):
  z=buildx(file)
  z = pd.concat([z,r],axis=1) 
  z.columns = ['xt1','xg1','xg2','xt2','idx','rt1','rg1','rg2','rt2','idr']  
  x = x.append(z)

x['points'] =  pd.Series(x.apply(lambda x:points(x.xg1,x.xg2,x.rg1,x.rg2),axis = 1))
x['incompletes'] =  pd.Series(x.apply(lambda x:incomplete(x.xg1,x.xg2),axis = 1))

#display (x)
result = x.groupby(['idx']).sum().reset_index()
#display (result)    

result2 = result
result1 = result.sort_values(['points'], ascending=False)[['idx','points','incompletes']]
display (result1)    
#display (result2)

                                                 idx  points  incompletes
1                       RESULTADO.xlsx|aaaaaa|aaaaaa      84         12.0
0  JonathanMurana_SebaSilvera.xlsx|Sebastian Silv...      25          0.0
2                                  jona.xlsx|nan|nan      11         83.0
3                               mariano.xlsx|nan|nan       9         84.0